body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

p {
    font-weight: bold;
    text-shadow: 1px 1px grey;
}

#chat_overlay {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


.chat_message {
    width: 100%;
    background-image: linear-gradient(rgba(20, 20, 20, 0.8), rgba(60, 60, 60, 0.8));
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}


.user_details {
    padding: 1px;
    margin: 1px;
    width: 100%;
    position: relative;
    display: inline;
}

.user_details:after{
    content: ': ';
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px grey;
}

div.chat_badges{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}

.chat_badges {
    padding: 1px;
    margin: 1px;
    display: inline;
}

.display_name {
    display: inline;
    font-size: 60%;
}

.pronoun_tag {
    display: inline;
    font-size: 55%;
    font-weight: bold;
    font-family: "Courier New", monospace;
    color: lightgray;
    margin-left: 5px;
}

.msg_text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
    display: inline;
}

p.slash_me {
    font-style: italic;
}